name: Build firmware

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
      
    - name: Build the firmware
      run: |
        docker run --rm -v $(pwd):/build jalle19/satip-axe-make:latest all release
    
    - name: Archive build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: firmware
        path: out
